.profileContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: flex-end;
  }
  .header button{
    margin-left: 20px;
  }
  
  .logoutBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .homeBtn {
    background-color:#4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .homeBtn:hover{
    background-color: #1c681e;
  }
  
  .logoutBtn:hover {
    background-color: #d32f2f;
  }
  .removeBtn:hover {
    background-color: #d32f2f;
  }
  
  h1 {
    color: #f44336 !important; 
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h2{
    color: #1c681e;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
  .recipeList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .recipeCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .viewBtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .viewBtn:hover {
    background-color: #45a049;
  }
  
  .loginBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginBtn:hover {
    background-color: #45a049;
  }

  .removeBtn{
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
  }