.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recipeTitle {
    color: #ff5722; 
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.commentSection {
    margin: 20px 0;
    background-color: #f8f9f8; 
    padding: 10px;
    border-radius: 5px;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.commentContent {
    background-color: #e0f7fa; 
    border: 1px solid #009688; 
    border-radius: 5px;
    padding: 10px;
    color: #004d40; 
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.commentContent strong {
    color: #ff5722;
}

.commentForm {
    margin-top: 20px;
}

.commentForm textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.commentForm button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.commentForm button:hover {
    background-color: #e64a19; 
}
